<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Funeral Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>

  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
        Home Department - Funeral Wing
      </h1>
      <h3 class="Sub title">
        Director Portal
      </h3>
      </div>
    </div>
  </section>
  <form class="" action="index.html" method="post">
    <div class="columns">
      <div class="column">
        <div class="control input-spacing">
          <label for="insuredName">Deceased Name</label>
          <input class="input is-medium" id="insuredName" type="text" placeholder="Name">
        </div>
        <div class="control input-spacing">
          <label for="Funeralhome">Funeral Home Selected</label>
          <input class="input is-medium" id="Funeralhome" type="text">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="ssn">SSN</label>
          <input class="input is-medium" id="ssn" type="text">
        </div>
        <div class="control input-spacing">
          <label for="FuneralDate">Funeral Date</label>
          <input class="input is-medium" id="FuneralDate" type="text">
        </div>
        <div class="control input-spacing">
          <label for="Confirmation">Confirmation</label>
          <input class="input is-medium" id="Confirmation" type="text" placeholder="Yes/No">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="cause">Cause of Death</label>
          <input class="input is-medium" id="cause" type="text" >
        </div>
        <div class="control input-spacing">
          <label for="Funeraltime">Funeral Time</label>
          <input class="input is-medium" id="Funeraltime" type="text">
        </div>
      </div>
    </div>
    <div class='card-content is-flex is-horizontal-center'>
      <button class="button is-black is-medium">Submit</button>
      <a class="button is-black is-medium" style="margin-left:40px">Next</a>


    </div>
  </form>


</body>

</html>
