<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hospital Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>

  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
         Hospital Home
      </h1>
      </div>
    </div>
  </section>
  <form class="" action="index.html" method="post">
    <div class="columns">
      <div class="column">
        <div class="control input-spacing">
          <label for="patientid">Patient ID Number</label>
          <input class="input is-medium" id="patientid" type="text" placeholder="name">
        </div>
        <div class="control input-spacing">
          <label for="adress1">Address line1</label>
          <input class="input is-medium" id="adress1" type="text">
        </div>
        <div class="control input-spacing">
          <label for="ssn">SSN</label>
          <input class="input is-medium" id="ssn" type="text">
        </div>
        <div class="control input-spacing">
          <label for="doctor">Doctor of Investigation</label>
          <input class="input is-medium" id="doctor" type="text">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="insuredName">Patient Name</label>
          <input class="input is-medium" id="insuredName" type="text" placeholder="name">
        </div>
        <div class="control input-spacing">
          <label for="adress2">Address line2</label>
          <input class="input is-medium" id="adress2" type="text">
        </div>
        <div class="control input-spacing">
          <label for="deathdate">Death Date</label>
          <input class="input is-medium" id="deathdate" type="text">
        </div>
        <div class="control input-spacing">
          <label for="Doctornumber">Doctor Registration Number</label>
          <input class="input is-medium" id="Doctornumber" type="text">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="birthdate">Date of Birth</label>
          <input class="input is-medium" id="birthdate" type="text">
        </div>
        <div class="control input-spacing">
          <label for="state">State</label>
          <input class="input is-medium" id="state" type="text">
        </div>
        <div class="control input-spacing">
          <label for="deathtime">Time of Death</label>
          <input class="input is-medium" id="deathtime" type="text">
        </div>
        <div class="control input-spacing">
          <label for="deathapproval">Date of Death Approval</label>
          <input class="input is-medium" id="deathapproval" type="text">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="Gender">Gender </label>
          <input class="input is-medium" id="Gender" type="text">
        </div>
        <div class="control input-spacing">
          <label for="zipcode">Zip Code</label>
          <input class="input is-medium" id="zipcode" type="text">
        </div>
        <div class="control input-spacing">
          <label for="cause">Cause of Death</label>
          <input class="input is-medium" id="cause" type="text">
        </div>
        <div class="control input-spacing">
          <label for="deathtimeapproval">Time of Death Approval</label>
          <input class="input is-medium" id="deathtimeapproval" type="text">
        </div>
      </div>
    </div>
    <div class='card-content is-flex is-horizontal-center'>
      <a class="button is-black is-medium">Submit</a>

    </div>
  </form>


</body>

</html>
