<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Insurance Company</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>

  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
        Insurance Company
      </h1>
      </div>
    </div>
  </section>
  <form class="" action="index.html" method="post">
    <div class="columns">
      <div class="column">
        <div class="control input-spacing">
          <label for="insuredName">Name of Insured</label>
          <input class="input is-medium" id="insuredName" type="text" placeholder="name">
        </div>
        <div class="control input-spacing">
          <label for="benificiaryName">Benificiary Name</label>
          <input class="input is-medium" id="benificiaryName" type="text">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="ssn">SSN</label>
          <input class="input is-medium" id="ssn" type="text">
        </div>
        <div class="control input-spacing">
          <label for="relation">Relation</label>
          <input class="input is-medium" id="relation" type="text">
        </div>
        <div class="control input-spacing">
          <label for="verified">Verified</label>
          <input class="input is-medium" id="verified" type="text">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="policyNumber">Policy Number</label>
          <input class="input is-medium" id="policyNumber" type="text">
        </div>
        <div class="control input-spacing">
          <label for="benificiarySSN">SSN</label>
          <input class="input is-medium" id="benificiarySSN" type="relation">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="cause">Cause of Death</label>
          <input class="input is-medium" id="cause" type="text">
        </div>
        <div class="control input-spacing">
          <label for="bankDetails">Bank Details</label>
          <input class="input is-medium" id="bankDetails" type="text">
        </div>
      </div>
    </div>
    <div class='card-content is-flex is-horizontal-center'>
      <a class="button is-black is-medium">Save</a>

    </div>
  </form>


</body>

</html>
